<!DOCTYPE html>

<title>
        Square Gardening App
</title>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
                integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
                crossorigin="anonymous" />
        <link rel="stylesheet" href="stylesheet.css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Merriweather&display=swap" rel="stylesheet">

<body>

        <div id="app">
                <div id="plantList">
                        <h2>List of Plants</h2>

                        <ul v-for="(value, name) in listOfVeggies">
                                <li>{{ name }}: {{ value }}</li>
                        </ul>

                </div>

                <div id="menu">
                        <h2>Menu</h2>
                        <p>
                                This is a helper app for 4x4 raised beds and companion gardening!
                        </p>
                        <p>
                                Select a plant for a square and suggestions will appear around it.
                        </p>
                        <p>
                                Suggestions are based on what the plant selected is helped by.
                        </p>
                        <div class = "buttonDiv"><button v-on:click="clear()" class ="customButton">Clear Garden</button></div>

                </div>


                <div class="container dirtArea">
                        <div class="row">
                                <div class="col-md">
                                        <h1>Square Gardening App</h1>
                                </div>
                        </div>
                        <div v-for="(row, index1) in plots">
                                <div class="row no-gutter">
                                        <div v-for="(plot, index2) in row">
                                                <div class="col-md-3 outerSquareBorder square">

                                                        <select v-model="plot.selected"
                                                                v-on:change="veggiePlanter(plot, index1, index2); listMaker()"
                                                                class="customSelect">
                                                                <option v-for="option in options"
                                                                        v-bind:value="option.value">
                                                                        {{ option.text }}

                                                                </option>
                                                        </select>
                                                        <div><img class="veggieImg" v-bind:src="plot.image"></div>

                                                        <p class="veggieImgText">Suggested: <br> {{ plot.suggestion }}
                                                        </p>


                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="madeBy">Icons made by <a href="https://www.flaticon.com/authors/turkkub"
                                        title="turkkub">turkkub</a>, <a
                                        href="https://www.freepik.com/?__hstc=57440181.1e5d3747425eb2281e7c4d932c965f65.1559145545708.1559235532392.1560213143737.3&__hssc=57440181.7.1560213143737&__hsfp=2784163161"
                                        title="Freepik">Freepik</a> and
                                        <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a>
                                         from <a href="https://www.flaticon.com/"
                                        title="Flaticon">www.flaticon.com</a> are licensed by <a
                                        href="http://creativecommons.org/licenses/by/3.0/"
                                        title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                                </div>

                

        </div>



        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
        <script>
                _u = _.noConflict(); 
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="javascript.js"></script>


</body>