
body {
    background-image: url("images/grassbackground.png");
}

h2 {
    color: whitesmoke;
    margin-left: 2px;
}
 

.dirtArea {
    background-color: brown;
    margin: 25px auto auto auto;
    width: 600px;
    height: 600px;

}

.outerSquareBorder {
    border-style: dashed;
    border-width: 2px;
    border-color: black;
}

.square {
    background-color: brown;
    /* padding-bottom: 100%; */
}