
body {
    background-image: url("images/grassbackground.png");
}

h2 {
    color: whitesmoke;
    margin-left: 2px;
}
 
p {
    color: whitesmoke;
}

#plantList {
    float: left;
    padding-left: 5px;
}

.dirtArea {
    
    margin: 25px auto auto auto;
    width: 600px;
    height: 600px;

}

.outerSquareBorder {
    border-style: dashed;
    border-width: 2px;
    border-color: black;
}

.square {
    background-color: #5c2605;
    /* padding-bottom: 100%; */
}